<div fxLayout="column" fxFlexFill>

    <div color="primary" *ngIf="signalrService.userData">
        <div fxFlex="100%" fxLayoutGap="20px">

            <mat-card style="padding: 5px 10px;">
                <mat-card-header>
                    <mat-card-title>Welcome, {{ signalrService.userData.name }}</mat-card-title>
                </mat-card-header>

                <mat-divider></mat-divider>

                <mat-card-content fxFlex fxLayout="row" fxFlexAlign="start center" fxLayoutGap="10px"
                    style="margin-top: 10px;">
                    <div>Connection ID:</div>
                    <mat-icon style="cursor: pointer;" (mouseenter)="true" (mouseleave)="false"
                        matTooltip="{{ signalrService.userData.signalrId }}"> visibility
                    </mat-icon>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-card style="margin-top: 16px;">
        <mat-card-header>
            <mat-card-title>Online Users</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <div *ngIf="usersOnline.length > 0; else noUsers">
                <table mat-table [dataSource]="usersOnline">

                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>№</th>
                        <td mat-cell *matCellDef="let user; let i = index">{{ i + 1 }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>User Name</th>
                        <td mat-cell *matCellDef="let user">{{ user?.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="signalrId">
                        <th mat-header-cell *matHeaderCellDef>Connection ID</th>
                        <td mat-cell *matCellDef="let user">{{ user?.signalrId }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['index', 'name', 'signalrId']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['index', 'name', 'signalrId'];"></tr>
                </table>
            </div>

            <ng-template #noUsers>
                <p>No users are currently online.</p>
            </ng-template>
        </mat-card-content>

    </mat-card>

</div>
