<div fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>

  <mat-card fxLayout="column" fxLayoutGap="10px" style="margin-bottom: 20px; max-width: 500px;"
    fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>Filter Products</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>Filter by name</mat-label>
        <input matInput [(ngModel)]="filter" (input)="filterProducts()" placeholder="Enter product name">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex fxLayout="column" fxLayoutGap="10px" fxFlexFill style="margin: 20px;">

    <mat-card-header>
      <mat-card-title>Product List</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
      <div style="overflow-x: auto;">
        <table mat-table [dataSource]="filteredProducts" style="width: 100%;">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let product"> {{ product.desc }} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let product"> {{ product.price | currency }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['name', 'desc', 'price']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'desc', 'price'];"></tr>
        </table>
      </div>

      <p *ngIf="filteredProducts.length === 0">No products match your filter.</p>
    </mat-card-content>

  </mat-card>

</div>