<div fxLayout="column" fxLayoutAlign="center center" style="width: 300px; margin: auto;">
    <h2>{{ isRegisterMode ? 'Register' : 'Login' }}</h2>

    <form fxLayout="column" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input ngModel name="email" type="email" placeholder="Email" matInput>
        <input ngModel name="password" type="password" placeholder="Password" matInput>
        <input *ngIf="isRegisterMode" ngModel name="name" type="name" placeholder="Name" matInput>

        <button *ngIf="isSignalrMode" mat-raised-button color="primary" [disabled]="!form.valid">
            {{ isRegisterMode ? 'Register' : 'Login' }}
        </button>
    
    </form>

    <button *ngIf="!isSignalrMode" (click)="isRegisterMode ? registerAPI(form) : loginAPI(form)" mat-raised-button
        color="primary">
        {{ isRegisterMode ? 'Register' : 'Login' }}
    </button>

    <button (click)="toggleMode()" mat-button>
        {{ isRegisterMode ? 'Already have an account? Login' : 'Need an account? Register' }}
    </button>

    <!-- <button (click)="toggleSignalr()" mat-button>
        {{ isSignalrMode ? 'Hub authorization activated' : 'API authorization activated' }}
    </button> -->

    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
</div>