<div fxLayout="column" fxLayoutAlign="center center" style="width: 300px; margin: auto;">
    <h2>{{ isRegisterMode ? 'Register' : 'Login' }}</h2>

    <form fxLayout="column" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input ngModel name="email" type="email" placeholder="Email" matInput>
        <input ngModel name="password" type="password" placeholder="Password" matInput>

        <button type="submit" [disabled]="!form.valid" mat-raised-button> {{ 'Login' }} </button>
    </form>

    <!-- <button (click)="isRegisterMode ? register() : login()" mat-raised-button color="primary">
        {{ isRegisterMode ? 'Register' : 'Login' }}
    </button> -->

    <!-- <button (click)="toggleMode()" mat-button>
        {{ isRegisterMode ? 'Already have an account? Login' : 'Need an account? Register' }}
    </button> -->

    <!-- <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div> -->
</div>